<!DOCTYPE html>
<html>
<head>
<title> Twig Template </title>
<link rel='StyleSheet ' href='/css/bootstrap.min.css'>
<link rel='StyleSheet ' href='/css/datepicker.min.css'>
<link rel='StyleSheet ' href='/css/style.css'>
<script src='/js/jquery.js'></script>
<script src='/js/pusher.min.js'></script>

</head>`
<body>
<div class ='container'>
    {%block nav %}{% endblock %}
    {% block content %}{% endblock %}
</div>
<script src='/js/popper.min.js'></script>
<script src='/js/bootstrap.min.js'></script>
<script src='/js/bootbox.all.min.js'></script>
<script src='/js/datepicker.min.js'></script>
<script src='/js/mylib.js'></script>

</body>
</html>
